<div _ngcontent-c3="" class="usage-container usage-0">
      <h5 _ngcontent-c3="" class="usage-container-title">Data
        <a _ngcontent-c3="" class="btn-link" data-target="#resourcesDetailsModal" data-toggle="modal" href="">View <i _ngcontent-c3="" class="fa fa-chevron-right"></i></a>
      </h5>

      <div _ngcontent-c3="" class="row no-gutters stacked-bar-container" style="cursor: hand;cursor: pointer;">

        <div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div><div _ngcontent-c3="" class="col bar-segment">
         </div>
      </div>
      <div _ngcontent-c3="" class="stacked-bar-info col">
        <small _ngcontent-c3="">
          26 MB of 765 MB
           <span _ngcontent-c3="" class="stacked-bar-info-title">left over 7 bundles</span>
         </small>
     </div>
    </div>
