

<div id="mySidenav" class="sidenav">
  <div class="row">
    <div class="col-md-12 ">
      <div class="img-responsive rounded2 ">
          <%=render'shared/logo'%>
      </div>
    </div>
  </div>

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <br>
  <small>
  <a href="#"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
  <a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Products</a>
  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Accounts</a>
  <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Get Help</a>
  <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Track</a>
</small>
</div>
